* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Lily Script One', cursive;
    background-image: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
}


nav {
    flex: 0 1 300px;
}
nav a {
    display: block;
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
    padding: 2vh;
    background-color: rgb(111, 83, 11);
    border-radius: 5px;
}

nav a:link, nav a:visited {
    color: whitesmoke;
}

nav li a:hover {
    cursor: pointer;
    color: black;
    background-color: goldenrod;
}

nav ul {
    list-style-type: none;
    position: sticky;
    top: 100px;
}

nav li {
    width: 80%;
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 5px;
}

main {
    flex: 0 1 600px;
}

header, footer {
    width: 100%;
    color: white;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 3vh;
}

header h2 {
    font-size: 250%;
}

header img {
    max-width: 200px;
    margin: 2vh;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    border: 6px ridge #808080;
    box-shadow: 2px 2px 2px 2px white;
}

article {
    padding: 4vh 2vh;
    background-color: lightskyblue;
    margin-bottom: 2vh;
    border: 1px solid blue;
    color: whitesmoke;
}

.caption {
    margin: 2vh 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cornerBtn {   
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid blue;
    background-color: grey;
    transition: all 300ms;

}
#cornerBtn:hover {
    cursor: pointer;
    background-color: goldenrod;
    color: grey;
    font-weight: bold;
    padding: 15px;
}


footer p {
    font-size: 80%;
    text-align: center;
    font-variant: small-caps;
    color: black;

}



@media screen and (max-width: 800px) {
    #nav_list {
        display: none;
    }
    section {
        width: 100%;
    }
    article {
        width: 100%;
    }
    .videowrapper {
    width: 100%;
    }

    header {
        align-items: center;
    }
}